.form-feedback {
  width: 32%;
  background: #c2edbf;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 240px;
  font-weight: 600;
  color: #000 !important;
}

.form-feedback div:hover {
  cursor: pointer;
}

.form-feedback textarea {
  width: 100%;
  height: 90%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  font-weight: 600;
}

.action-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-form p:last-child {
  font-size: 20px;
  color: blue;
  font-weight: 600;
}
