.search {
  position: relative;
  padding: 30px 0;
  color: #000 !important;
}

.search input {
  display: block;
  width: 100%;
  padding: 15px 50px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #e4e4e4;
  font-size: 20px;
}

.search i {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 20px;
  transform: translateY(-50%);
}
